.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top: 25px;
    background-color: transparent;
    color: #ebc4ba;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px #ebc4ba;
  }

.box2.reactive {
    width: 300px;
    height: 350px;
    padding: 20px;
    border: 1px solid;
    color: #ebc4ba;
    box-shadow: none;
  }

.box2.reactive:hover {
    box-shadow: 0 0 10px 2px #ebc4ba;
  }
