
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact__image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
}

.container__image{
    width: 60px;
    height: 60px;
}

.container__text{
    flex: 2;
    display: flex;
    justify-content: center;
    color: #ebc4ba; 
    flex-direction: column;
    font-family: Lato, sans-serif; 
    font-size: 5vmin; 
    margin-top: 110px;
}

.paragraph{
    color: #ebc4ba; 
    height: 60px;
    font-family: Lato, sans-serif;
    justify-content: center;
    align-items: center;
}