@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul {
    position: relative;
    display: flex;
    flex-direction: vertical;
    gap: 30px;
  }

ul li {
  position: relative;
  list-style: none;
}
ul li a {
  font-size: 1.2em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.55em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #ebc4ba;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 5px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 20px var(--clr))
}