<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1500px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </section>
    <header>
      <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
    </header>
    <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
    <ul>
      <li style="--clr:#ebc4ba">
        <a href="home" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="about" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="projects" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="resume" data-text="&nbsp;Resume">&nbsp;Resume&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="contact" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
      </li>
    </ul>
  </div>

  <div style="position: absolute; top: 200px; left: 120px;">
    <img src="{% static 'gatinho.png' %}" width="435" height="300">
  </div>

  <div style="position: absolute; top: 180px; right: 260px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">GET TO <font style=" font-family: Lato, sans-serif; color: #bc00dd">KNOW ME</font></p>
  </div>

  </body>
</html>