<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1800px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </section>
    <header>
      <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
    </header>
    <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
    <ul>
      <li style="--clr:#ebc4ba">
        <a href="home" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="about" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="projects" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="resume" data-text="&nbsp;Resume">&nbsp;Resume&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="contact" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
      </li>
    </ul>
  </div>

  <div style="position: absolute; top: 220px; left: 100px;">
    <img src="{% static 'gatinho.png' %}" width="435" height="300">
  </div>

  <div style="position: absolute; top: 180px; right: 260px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">GET TO <font style=" font-family: Lato, sans-serif; color: #bc00dd">KNOW ME</font></p>
  </div>

  </div>
  <p style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin; position: absolute; top: 240px; left: 530px; margin-right: 40px;">
    Hello, I am <font style=" font-family: Lato, sans-serif; color: #bc00dd">Ana Clara Mueller Miranda</font> a software developer, pre-sales engineer, and computer science student at<font style=" font-family: Lato, sans-serif; color: #bc00dd"> Unifesp (Universidade Federal de São Paulo).</font>
    <br></br>
    I have a diverse range of skills and experience, including <font style=" font-family: Lato, sans-serif; color: #bc00dd">customer service, data science, and PAM solutions.</font>
    <br></br>
    During the pandemic, I worked on a project about analyzing COVID statistics using Python libraries, such as Pandas.
    <br></br>
    Currently, I am interning as a <font style=" font-family: Lato, sans-serif; color: #bc00dd">pre-sales engineer at Senhasegura.</font>
    <br></br>
    Aside from work and studies, I enjoy watching and playing sports, traveling, and reading. 
  </p>
  </div>

  <div style="position: absolute; top: 670px; left: 495px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"> MY <font style=" font-family: Lato, sans-serif; color: #bc00dd">HARDSKILLS</font></p>
    <link href="{% static "css/caixa.css" %}" rel="stylesheet">
    <div style="position: absolute; top: 65px; left: -315px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'python.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: -115px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'java.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 85px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'c.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 285px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'cmais.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 485px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'html.png' %}" width="70" height="70">
    </div>
  </div>

  <div style="position: absolute; top: 920px; left: 480px;">  
    <div class="caixa"></div>
    <div class="box reactive"></div>
    <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'django.png' %}" width="70" height="70">
  </div>

  <div style="position: absolute; top: 920px; left: 680px;">  
    <div class="caixa"></div>
    <div class="box reactive"></div>
    <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'git.png' %}" width="70" height="70">
  </div>

  <div style="position: absolute; top: 1165px; left: 460px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"><font style=" font-family: Lato, sans-serif; color: #bc00dd">TOOLS</font> I USE DAILY</p>
  </div>

  <div style="position: absolute; top: 1165px; left: 355px;">
    <div style="position: absolute; top: 65px; left: -175px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'github.png' %}" width="70" height="70">
    </div>

    <div style="position: absolute; top: 65px; left: 25px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'ubuntu.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 225px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'windows.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 425px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'vscode.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 625px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'jupyter.png' %}" width="70" height="70">
    </div>
  </div>

  <div style="position: absolute; top: 1490px; left: 400px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"> GITHUB <font style=" font-family: Lato, sans-serif; color: #bc00dd">CONTRIBUTIONS</font></p>
  </div>
  <img style="position: absolute; top: 1565px; left: 80px;" src="https://ghchart.rshah.org/bc00dd/anamueller" alt="Ana's Github chart" width="1100"/>
  

  </body>
</html>