<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>

<body>
  <div class="parent"> 

    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    <header>
      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <div class="container-nav">
        <div>
          <img img src="{% static 'logo_ana4.png' %}" width="120" height="120">
        </div>
        <nav>
          <input id="toggle" type="checkbox" checked>
          <h2>Menu</h2>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
  
  </div>

  <!--Contact information -->
  <link href="{% static "css/contact.css" %}" rel="stylesheet">
  <div class="container">
    <div class = "contact__image-container">
      <img class="container__image" src="{% static 'linkedin.png' %}">
      <img class="container__image" src="{% static 'email.png' %}">
      <img class="container__image" src="{% static 'telephone.png' %}">
    </div>

    <div class="container__text">
      <a class="paragraph" href="https://www.linkedin.com/in/anaclaramuellermiranda/">Ana Clara Mueller Miranda</a>
      <p class="paragraph">ana.mueller@unifesp.br</p>
      <p class="paragraph">19 99686-9660</p>
    </div>
  </div>


  </body>
</html>