<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head>

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1100px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    <header>
      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <div class="container-nav">
        <div>
          <img img src="{% static 'logo_ana4.png' %}" width="120" height="120">
        </div>
        <nav>
          <input id="toggle" type="checkbox" checked>
          <h2>Menu</h2>
          <ul>
            <li><a href="homept">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="projetos">Projetos</a></li>
            <li><a href="curriculo">Currículo</a></li>
            <li><a href="contato">Contato</a></li>
            <li><a href="home">English</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <a style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 4vmin; position: absolute; top: 150px; left: 425px;" href="https://drive.google.com/file/d/1pLzioL6TffP_5vl_tn8hq1PS_2qjySWQ/view">Download PT</a>
  <a style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 4vmin; position: absolute; top: 150px; left: 675px;" href="https://drive.google.com/file/d/1lk90BxmmyX7hlYvvnxrtqm1RfyZXJUwx/view">Download EN</a>

  <iframe style="position: absolute; top: 200px; left: 325px;" src="https://drive.google.com/file/d/16uWBJxCQey2P-pDs4X5iZMIc9N062F40/preview" width="640" height="820" allow="autoplay"></iframe>
  </body>
</html>