<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <title>Ana Clara CV</title>
      {% load static %}
      <link rel = "icon" type = "image" href= "{ % static 'ana1.png' %}">
    </head>     
     <style>
      body {
          background-color: #fad2e1;
      }
      
      </style>
      <header>
        {% load static %}
        <img align= "left" img src="{% static 'logo_ana.png' %}" width="110" height="110">
        
        <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
        <ul>
          <li style="--clr:#00ade1">
            <a href="" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
          </li>
          <li style="--clr:#dc00d4">
            <a href="#" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
          </li>
          <li style="--clr:#dc00d4">
            <a href="#" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
          </li>
          <li style="--clr:#dc00d4">
            <a href="#" data-text="&nbsp;Resume">&nbsp;Resume&nbsp;</a>
          </li>
          <li style="--clr:#dc00d4">
            <a href="#" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
          </li>
        </ul>
      </header>

</html>