<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Ana Clara CV</title>
    {% load static %}
    <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
  </head> 
 
  <style>
    body{
      background-color: #110114;
    }
    .parent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    html{
      height: 1300px;
      overflow-x: hidden;
      overflow-y: auto;
    } 

  </style>

  <body>
    <div class="parent"> 

      <link href="{% static "css/fundo.css" %}" rel="stylesheet">
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      <header>
        <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
      </header>

      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <ul>
        <li style="--clr:#ebc4ba">
          <a href="homept" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="sobre" data-text="&nbsp;Sobre">&nbsp;Sobre&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="projetos" data-text="&nbsp;Projetos">&nbsp;Projetos&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="curriculo" data-text="&nbsp;Curriculo">&nbsp;Currículo&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="contato" data-text="&nbsp;Contato">&nbsp;Contato&nbsp;</a>
        </li>
      </ul>
    </div>

    <a style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin; position: absolute; top: 50px; left: 20px;" href="home">English</a>
    <link href="{% static "css/home.css" %}" rel="stylesheet">

    <!--Image + wave -->
    <div class="intro">
      <div class="welcome__image-container">
        <img class="welcome__image" src="{% static 'menina.png' %}">
      </div>
    
      <div class="welcome__text">

        <div class="welcome__text-wave">
          <link href="{% static "css/wave.css" %}" rel="stylesheet">
          <h1 class="welcome_paragraph">Oi, tudo bem?</h1>
          <h1 class="wave">👋</h1>
        </div>

        <h1 class="welcome_paragraph">Eu sou a <font class="welcome__paragraph-purple">ANA</font></h1>
        <link href="{% static "css/type2.css" %}" rel="stylesheet">
        <h1 style="color: #bc00dd; font-size: 5.5vmin;" class="typewriter"></h1>
      </div>
    
    </div>

    <!--Intro me + image -->
    <div class="intro">
      <div class="intro__image-container">
          <img class="intro__image" src="{% static 'ana4.png' %}">
      </div>
    
      <div class="intro__text">
        <h1 class="title">UM POUCO<font class ="purple-title"> SOBRE MIM</font></h1>

        <p class="paragraph">
          Sou uma estudante de <font class="paragraph-purple">ciência da computação</font> da Unifesp que se apaixonou com a
          <font class="paragraph-purple"> programação!</font>
          <br></br>
          Eu acredito que <font class="paragraph-purple">ciência da computação</font> se tornou onipresente 
          na vida moderna e é <font class="paragraph-purple">essencial</font> para 
          <font class="paragraph-purple">alcançar avanços</font>. Desde o desenvolvimento de novas tecnologias até
          à análise de dados, o potencial da ciência da computação <font class="paragraph-purple">tpara impulsionar o progresso é ilimitado</font>.
          <br></br>
          Sou proficiente em <font class="paragraph-purple">Python, C and Java</font>
          <br></br>
          Estou particularmente interessada em <font class="paragraph-purple">segurança cibernética</font> 
          (o mundo hacking me fascina) e <font class="paragraph-purple">ciência de dados</font>. 
          <br></br>
          No entanto, <font class="paragraph-purple">meu amor por programar não tem limites</font>, e gosto de trabalhar com qualquer linguagem ou 
          projeto que desafia minhas habilidades. 
         </p>
      </div>
    
    </div>

    
  </body>
</html>