<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Ana Clara CV</title>
    {% load static %}
    <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
  </head> 

  <style>
    body{
      background-color: #0f4c5c;
    }
    .parent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .center {
      position: absolute;
      bottom:300px;
      right: 450px;
    }
    .left {
      position: absolute;
      bottom: 150px;
      left: 150px;
    }
  </style>

  <body>

    <div class="parent">
      
      <header>
        <link href="{% static "css/fundo.css" %}" rel="stylesheet">
        
        <section>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </section>

        <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
      </header>

      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <ul>
        <li style="--clr:#00ade1">
          <a href="home" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        </li>
        <li style="--clr:#00ade1">
          <a href="about" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
        </li>
        <li style="--clr:#00ade1">
          <a href="projects" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
        </li>
        <li style="--clr:#00ade1">
          <a href="resume" data-text="&nbsp;Resume">&nbsp;Resume&nbsp;</a>
        </li>
        <li style="--clr:#00ade1">
          <a href="contact" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
        </li>
      </ul>
    </div>

    <div class="left">
      <img src="{% static 'woman_coding.png' %}" width="300" height="279">
    </div>
   
    <div class="center">
      <h1>Hey there</h1>
    </div>

  </body>
</html>