<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 
 
<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1500px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    <header>
      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <div class="container-nav">
        <div>
          <img img src="{% static 'logo_ana4.png' %}" width="120" height="120">
        </div>
        <nav>
          <input id="toggle" type="checkbox" checked>
          <h2>Menu</h2>
          <ul>
            <li><a href="homept">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="projetos">Projetos</a></li>
            <li><a href="curriculo">Currículo</a></li>
            <li><a href="contato">Contato</a></li>
            <li><a href="home">English</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <!--Github link -->
  <link href="{% static "css/projects.css" %}" rel="stylesheet">
  <div class="container">
    <img class="container__image" src="{% static 'github.png' %}">
    <a class="container__text" href="https://github.com/anamueller">GitHub</a>
  </div>

  <!--Projects -->
  <div>
    <div class="proj__content-title">
      <h1 class="title">MEUS&nbsp;</h1>
      <h1 class ="purple-title">PROJETOS</h1>
    </div>
  </div>

  <div class="proj">

    <!--Projeto 1-->
    <div class="proj__caixa">
      <div class="proj__caixa-1">
        <div class="proj__content-title">
          <h1 class="title">Rede&nbsp;</h1>
          <h1 class ="purple-title">Trófica</h1>
        </div>
        
        <div class="proj__text-box">
          <p class="proj__text">
            Algoritmo para modelar e analisar teias alimentares, 
            simulando uma rede trófica entre 6 espécies, mostrando como cada espécie vai se 
            comportar durante a linha do tempo, até todas elas se estabilizarem.
          </p>
        </div>
      </div>
        
        <div class="link">
          <a class="proj__text" href="https://github.com/anamueller/Modelagem-Computacional/blob/main/Projeto_3_Rede_Tr%C3%B3fica.ipynb">GitHub</a>  
        </div>
      </div>

    <!--Projeto 2-->
    <div class="proj__caixa">
      <div class="proj__caixa-1">
        <div class="proj__content-title">
          <h1 class="title">Algoritmo de</h1>
          <h1 class ="purple-title"> Substituição</h1>
        </div>
 
        <div class="proj__text-box">
          <p class="proj__text">
            Algoritmo desenvolvido para simular quando um sistema operacional precisa decidir qual(is) página(s)
            remover da memória física (RAM) quando uma nova página precisa ser carregada na memória.</p>
          </p>
        </div>
      </div>
      
      <div class="link">
        <a class="proj__text" href="https://github.com/anamueller/Sistemas-Operacionais/blob/main/AlgoritmosSubstituicao.c">GitHub</a>  
      </div>
      
    </div>

    <!--Projeto 3-->
    <div class="proj__caixa">
      <div class="proj__caixa-1">
        <div class="proj__content-title">
          <h1 class="title">Fake&nbsp;</h1>
          <h1 class ="purple-title">News</h1>
        </div>
        
        <div class="proj__text-box">
          <p class="proj__text">
            Desenvolvido modelos de propagação em redes, onde a disseminação de fake news é analisada em
            diferentes cenários, e observa-se como ocorre a propagação de notícias falsas,
            quantas pessoas recebem e encaminham as fake news, etc.</p>
          </p>
        </div>
      </div>
      
      <div>

      <div class="link">
        <a class="proj__text" href="https://github.com/anamueller/Modelagem-Computacional/blob/main/Projeto_4_Propaga%C3%A7%C3%A3o_de_Informa%C3%A7%C3%A3o_em_Redes_(Parte_2_Simula%C3%A7%C3%A3o).ipynb">GitHub</a>  
      </div>
    
  </div>

  </div>

  </body>
</html>