<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1500px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </section>
    <header>
      <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
    </header>
    <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
    <ul>
      <li style="--clr:#ebc4ba">
        <a href="home" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="about" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="projects" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="resume" data-text="&nbsp;Resume">&nbsp;Resume&nbsp;</a>
      </li>
      <li style="--clr:#ebc4ba">
        <a href="contact" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
      </li>
    </ul>
  </div>
  <img style="position: absolute; top: 140px; left: 550px;" src="{% static 'github.png' %}" width="50" height="50">
  <a style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 4vmin; position: absolute; top: 155px; left: 620px;" href="https://github.com/anamueller">GitHub</a>
 
  <div style="position: absolute; top: 240px; left: 495px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"> MY <font style=" font-family: Lato, sans-serif; color: #bc00dd">PROJECTS</font></p>
    <link href="{% static "css/caixa2.css" %}" rel="stylesheet">
    <div style="position: absolute; top: 65px; left: -395px;">  
      <div class="caixa2"></div>
      <div class="box2 reactive"></div>
      <p style ="position: absolute; top: 40px; left: 80px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">Trophic</p>
      <p style ="position: absolute; top: 80px; left: 70px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">Network</p>
      <p align="center" style=" position: absolute; top: 140px; left: 20px; margin-right: 10px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 3vmin;">
        Algorithm developed to model and analise food webs in ecological systems, by defining and simulating a 
        trophic network among 6 species, showing how each one will behave over time until they all 
        stabilize.
      </p>
      <a style="position: absolute; top: 330px; left: 115px; color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin;" href="https://github.com/anamueller/Modelagem-Computacional/blob/main/Projeto_3_Rede_Tr%C3%B3fica.ipynb">GitHub</a>
    </div>

    <div style="position: absolute; top: 65px; left: 5px;">  
      <div class="caixa2"></div>
      <div class="box2 reactive"></div>
      <p style ="position: absolute; top: 40px; left: 25px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">Replacement</p>
      <p style ="position: absolute; top: 80px; left: 55px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">Algorithm</p>
      <p align="center" style=" position: absolute; top: 140px; left: 20px; margin-right: 10px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 3vmin;">
        Algorithm developed to simulate when an operating system needs to decide which page(s) 
        to evict from physical memory (RAM) when a new page needs to be loaded into memory.</p>
      <a style="position: absolute; top: 330px; left: 115px; color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin;" href="https://github.com/anamueller/Sistemas-Operacionais/blob/main/AlgoritmosSubstituicao.c">GitHub</a>
    </div>

    <div style="position: absolute; top: 65px; left: 405px;">  
      <div class="caixa2"></div>
      <div class="box2 reactive"></div>
      <p style ="position: absolute; top: 40px; left: 55px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">Fake News</p>
      <p align="center" style=" position: absolute; top: 100px; left: 20px; margin-right: 10px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 3vmin;">
        Developed propagation models in networks, where the dissemination of fake news is analyzed in 
        different scenarios, and is observed how the propagation of fake news occurs, such as 
        how many people receive and forward the fake news, etc.</p>
      <a style="position: absolute; top: 330px; left: 115px; color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin;" href="https://github.com/anamueller/Modelagem-Computacional/blob/main/Projeto_4_Propaga%C3%A7%C3%A3o_de_Informa%C3%A7%C3%A3o_em_Redes_(Parte_2_Simula%C3%A7%C3%A3o).ipynb">GitHub</a>
    </div>

  </div>

  </body>
</html>