<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head>

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1100px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    <header>
      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <div class="container-nav">
        <div>
          <img img src="{% static 'logo_ana4.png' %}" width="120" height="120">
        </div>
        <nav>
          <input id="toggle" type="checkbox" checked>
          <h2>Menu</h2>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="homept">Português</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <link href="{% static "css/resume.css" %}" rel="stylesheet">
  <div class="container">
    <div class="text-container">
      <a class="text" href="https://drive.google.com/file/d/1pLzioL6TffP_5vl_tn8hq1PS_2qjySWQ/view">Download PT</a>
      <a class="text" href="https://drive.google.com/file/d/1lk90BxmmyX7hlYvvnxrtqm1RfyZXJUwx/view">Download EN</a>
    </div>
    <div class="pdf">
      <iframe class="docs" src="https://drive.google.com/file/d/16uWBJxCQey2P-pDs4X5iZMIc9N062F40/preview"></iframe>
    </div>
  </div>

</body>
</html>