<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1800px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </section>
    <header>
      <img align= "left" img src="{% static 'logo_ana4.png' %}" width="120" height="120">
    </header>
    <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
    <ul>
        <li style="--clr:#ebc4ba">
          <a href="homept" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="sobre" data-text="&nbsp;Sobre">&nbsp;Sobre&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="projetos" data-text="&nbsp;Projetos">&nbsp;Projetos&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="curriculo" data-text="&nbsp;Curriculo">&nbsp;Currículo&nbsp;</a>
        </li>
        <li style="--clr:#ebc4ba">
          <a href="contato" data-text="&nbsp;Contato">&nbsp;Contato&nbsp;</a>
        </li>
      </ul>
  </div>

  <div style="position: absolute; top: 220px; left: 100px;">
    <img src="{% static 'gatinho.png' %}" width="435" height="300">
  </div>

  <div style="position: absolute; top: 180px; right: 300px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;">ME <font style=" font-family: Lato, sans-serif; color: #bc00dd">CONHEÇA</font></p>
  </div>

  </div>
  <p style="color: #ebc4ba; font-family: Lato, sans-serif; font-size: 3vmin; position: absolute; top: 240px; left: 530px; margin-right: 40px;">
    Olá, sou a <font style=" font-family: Lato, sans-serif; color: #bc00dd">Ana Clara Mueller Miranda</font> desenvolvedora de software, engenheira de pré-vendas e estudante de ciência da computação na<font style=" font-family: Lato, sans-serif; color: #bc00dd"> Unifesp (Universidade Federal de São Paulo).</font>
    <br></br>
    Tenho uma gama diversificada de habilidades e experiências, incluindo <font style=" font-family: Lato, sans-serif; color: #bc00dd">atendimento ao cliente, ciência de dados e soluções PAM.</font>
    <br></br>
    Durante a pandemia, trabalhei em um projeto de análise de estatísticas do COVID usando bibliotecas Python, como o Pandas.
    <br></br>
    Atualmente estou estagiando como <font style=" font-family: Lato, sans-serif; color: #bc00dd">engenheira de pré-vendas na Senhasegura.</font>
    <br></br>
    Além do trabalho e dos estudos, gosto de assistir e praticar esportes, viajar e ler. 
  </p>
  </div>

  <p style ="position: absolute; top: 670px; left: 445px; font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"> MINHAS <font style=" font-family: Lato, sans-serif; color: #bc00dd">HARDSKILLS</font></p>
  <div style="position: absolute; top: 670px; left: 495px;">
    <link href="{% static "css/caixa.css" %}" rel="stylesheet">
    <div style="position: absolute; top: 65px; left: -315px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'python.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: -115px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'java.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 85px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'c.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 285px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'cmais.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 485px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'html.png' %}" width="70" height="70">
    </div>
  </div>

  <div style="position: absolute; top: 920px; left: 480px;">  
    <div class="caixa"></div>
    <div class="box reactive"></div>
    <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'django.png' %}" width="70" height="70">
  </div>

  <div style="position: absolute; top: 920px; left: 680px;">  
    <div class="caixa"></div>
    <div class="box reactive"></div>
    <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'git.png' %}" width="70" height="70">
  </div>

  <div style="position: absolute; top: 1165px; left: 280px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"><font style=" font-family: Lato, sans-serif; color: #bc00dd">FERRAMENTAS </font>QUE USO DIARIAMENTE</p>
  </div>

  <div style="position: absolute; top: 1165px; left: 355px;">
    <div style="position: absolute; top: 65px; left: -175px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'github.png' %}" width="70" height="70">
    </div>

    <div style="position: absolute; top: 65px; left: 25px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'ubuntu.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 225px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'windows.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 425px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'vscode.png' %}" width="70" height="70">
    </div>
  
    <div style="position: absolute; top: 65px; left: 625px;">  
      <div class="caixa"></div>
      <div class="box reactive"></div>
      <img style="position: absolute; top: 55px; left: 30px;" src="{% static 'jupyter.png' %}" width="70" height="70">
    </div>
  </div>

  <div style="position: absolute; top: 1490px; left: 400px;">
    <p style ="font-family: Lato, sans-serif; color: #ebc4ba; font-size: 5.5vmin; font-weight: 500; letter-spacing: 0.05em;"><font style=" font-family: Lato, sans-serif; color: #bc00dd">CONTRIBUIÇÕES</font> GITHUB</p>
  </div>
  <img style="position: absolute; top: 1565px; left: 80px;" src="https://ghchart.rshah.org/bc00dd/anamueller" alt="Ana's Github chart" width="1100"/>
  

  </body>
</html>