<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Ana Clara CV</title>
  {% load static %}
  <link rel = "icon" type = "image" href = "{ % static 'ana1.png' %}">
</head> 

<style>
  body{
    background-color: #110114;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html{
    height: 1800px;
    overflow-x: hidden;
    overflow-y: auto;
  }

</style>

<body>
  <div class="parent"> 
    <link href="{% static "css/fundo.css" %}" rel="stylesheet">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
    <header>
      <link href="{% static "css/navbar2.css" %}" rel="stylesheet">
      <div class="container-nav">
        <div>
          <img img src="{% static 'logo_ana4.png' %}" width="120" height="120">
        </div>
        <nav>
          <input id="toggle" type="checkbox" checked>
          <h2>Menu</h2>
          <ul>
            <li><a href="homept">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="projetos">Projetos</a></li>
            <li><a href="curriculo">Currículo</a></li>
            <li><a href="contato">Contato</a></li>
            <li><a href="home">English</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <!--About me + image -->
  <link href="{% static "css/get-to-know-me.css" %}" rel="stylesheet">
  <div class="get-to-know-me">
    <div class = "get-to-know-me__image-container">
      <img  class ="get-to-know-me__image" src="{% static 'gatinho.png' %}">
    </div>

    <div class="get-to-know-me__text">
      <h1 class="title">ME<font class ="purple-title"> CONHEÇA</font></h1>
      &nbsp;
      <p class="paragraph">
        Olá, sou a <font class="paragraph-purple">Ana Clara Mueller Miranda</font> desenvolvedora de software, engenheira de pré-vendas e estudante de ciência da computação na<font style=" font-family: Lato, sans-serif; color: #bc00dd"> Unifesp (Universidade Federal de São Paulo).</font>
        <br></br>
        Tenho uma gama diversificada de habilidades e experiências, incluindo <font class="paragraph-purple">atendimento ao cliente, ciência de dados e soluções PAM.</font>
        <br></br>
        Durante a pandemia, trabalhei em um projeto de análise de estatísticas do COVID usando bibliotecas Python, como o Pandas.
        <br></br>
        Atualmente estou estagiando como <font class="paragraph-purple">engenheira de pré-vendas na Senhasegura.</font>
        <br></br>
        Além do trabalho e dos estudos, gosto de assistir e praticar esportes, viajar e ler. 
      </p>
    </div>
  </div>


 <!--Hardskills -->
 <link href="{% static "css/hardskills.css" %}" rel="stylesheet"> 
 &nbsp;
 <div>
  &nbsp;
    <h1 class="title">MINHAS<font class ="purple-title"> HARDSKILLS</font>
    <div class="container">
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'python.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'java.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'c.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'cmais.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'html.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'django.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'git.png' %}" >
      </div>
    </div>
  </div> 


  <!--Tools -->
  <link href="{% static "css/tools.css" %}" rel="stylesheet"> 
  &nbsp;
  <div>
    &nbsp;
    <h1 class="title"><font class ="purple-title">FERRAMENTAS</font> QUE USO DIARIAMENTE</h1>
    <div class="container">
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'github.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'ubuntu.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'windows.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'vscode.png' %}" >
      </div>
      <div class="container__box reactive">
        <img class="container__box-image" src="{% static 'jupyter.png' %}" >
      </div>
    </div>
  </div>


  <!--Github -->
  &nbsp;
  <div class="git">
    <h1 class="purple-title">CONTRIBUIÇÕES<font class ="title"> GITHUB</font></h1>
    <img src="https://ghchart.rshah.org/bc00dd/anamueller" alt="Ana's Github chart" width="1100"/>
  </div>
  
  </body>
</html>